/* build time:Thu Sep 24 2020 15:12:16 GMT+0000 (Coordinated Universal Time)*/
.category-list-count:after{content:' ç¯‡'}.fa-book{padding-right:5px}.category-list-count{font-weight:700}.category-list-item{list-style-type:none}
/* rebuild by neat */