/* build time:Wed Sep 23 2020 16:10:48 GMT+0000 (Coordinated Universal Time)*/
.category-list-count:after{content:' ç¯‡'}.fa-book{padding-right:5px}.category-list-count{font-weight:700}.category-list-item{list-style-type:none}
/* rebuild by neat */