/* 背景及鼠标样式 */
/* 可以在阿里巴巴矢量图标库找到合适的图标后再转换成Cur文件 */
body {
  cursor: url(https: //akilar-1259097125.cos.ap-shanghai.myqcloud.com/Burrerfly-elements/candy-shop.cur),
    default;
}

a,
img {
  cursor: url(https: //akilar-1259097125.cos.ap-shanghai.myqcloud.com/Burrerfly-elements/candy-shop.cur),
    default;
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post {
  /* 以下代表白色透明度为0.8 */
  opacity: 0.95;
}

/* 页脚footer */
/* 渐变色滚动动画 */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

#footer {
  opacity: 0.6;
  background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -o-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#footer:before {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/* APlayer吸底模式收入侧边栏 */
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0px !important
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important
}

/* Artitalk动态说说页面 */
  .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
    background: linear-gradient(-45deg, #f1ac9d, #f06966, #dee2d1, #6abe83) 0% 0% / 400% 400%;
    animation: 15s ease 0s infinite normal none running gradientBG;
    color: white;
  }
  .cbp_tmtimeline>li .cbp_tmlabel {
    background: linear-gradient(-45deg, #f1ac9d, #f06966, #dee2d1, #6abe83) 0% 0% / 400% 400%;
    animation: 15s ease 0s infinite normal none running gradientBG;
    color: white;
  }
  .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color:  #f1ac9d
  }
  .cbp_tmtimeline>li .cbp_tmlabel:after {
    border-right-color:  #dee2d1
  }
  .button {
    background: linear-gradient(-45deg, #f1ac9d, #f06966, #dee2d1, #6abe83) 0% 0% / 400% 400%;
    animation: 15s ease 0s infinite normal none running gradientBG;
    color: white;
  }
  @keyframes gradientBG {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
# 诗歌体
.poemsrl {
  margin: 0 auto;
  height: 500px;
  font-size: 25px;
  writing-mode: vertical-rl;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
  writing-mode: tb-rl;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
  font-family:楷体 !important;
}
.poemslr {
  margin: 0 auto;
  height: 500px;
  font-size: 25px;
  writing-mode: vertical-lr;/*从左向右 从右向左是 writing-mode: vertical-rl;*/
  writing-mode: tb-lr;/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
  font-family:楷体 !important;
}
